<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur provident neque reiciendis laborum et magni tenetur, possimus suscipit ex vero tempora, molestias odit eius numquam nihil rem earum expedita nesciunt.
        Quae facere eaque incidunt perspiciatis illum, delectus quo similique. Assumenda nesciunt nostrum cupiditate accusamus deserunt eos? Adipisci asperiores numquam tenetur illum, ea voluptatem rem magnam accusamus nam molestias, sunt vitae.
        At nulla omnis voluptatem. Ut neque maxime eius voluptates voluptatibus. Iure repellendus iste vitae doloribus, cum atque doloremque fugit omnis soluta nesciunt molestias tempora laborum sunt adipisci harum dignissimos. Recusandae?
    </p>
</section>